

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* share color */

.btn-primary{
    border-radius: 8px;
    background-color: #ff900f;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.text-light-gray{
    color: #727272;
    margin: 20px 0;

}

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





nav > ul{
    display: flex;
    
    
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.8rem;
}


/* bannner style apply from here */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    color: #727272;
    margin: 20px 0;

}



.banner img{
    margin-top: 20px;
    width: 100%;
}


main{
    max-width: 1140px;
    margin: 70px auto;
}

.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 2.8rem;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title{
    font-size: 2.8rem;
}
.teams-title .quic-list{
    font-weight: 500;
}

.teams-title .text-feature{
    color: #ff900f;
    font-weight: 700;
}

/* facts card style */

.fatcs-card-container{
    display: flex;
    justify-content: space-around;
}

.fatcs-card-container .card{
    border-radius: 8px;
    border: 1px solid #ff900f;
    text-align: center;
    padding: 40px 30px;
}


.fatcs-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}

.fatcs-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors section style */

.sponsors-content{
    text-align: center;
    width: 50%;
    margin: 20px auto;
    
}

.sponsors-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.sponsors-icon img{
    width: 165px;
}

/* feature section style */

.features{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    /* gap: 100px; */
}

.featur-img img{
    height: 70%;
    margin-left: 90px;
}

.features .card{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features .section-title{
    border-left: 5px solid #ff900f;
    padding-left: 20px;
}

.ten-years-badge{
    border-radius: 8px;
    background-color: #ff900f;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin-top: 0;
}

.footer{
    background-color: #ff8f0f76;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 8px;
    margin: 30px auto;
}


/* media quary for responsive */


/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav,
    .teams-container,
    .fatcs-card-container,
    .sponsors-icon,
    .features
    {
        flex-direction: column;
    }


    .featur-img img{
        width: 100%;
        margin-left: 0;
    }

    .ten-years-badge{
        position: static;
    }

    .fatcs-card-container,
    .sponsors-icon
    {
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }
    

    .teams-img-container{
        grid-template-columns: 1fr;
    }
    
}

/* teblate or medium desisec */

@media screen and (min-width: 577px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container,
    .fatcs-card-container,
    .sponsors-icon,
    .features
    {
        flex-direction: column;
    }

    .featur-img img{
        width: 100%;
        margin-left: 0;
    }

    .ten-years-badge{
        position: static;
    }

    .teams-content{
        text-align: center;
        margin-top: 0px;
    }

    .fatcs-card-container,
    .sponsors-icon
    {
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }
}
